.ranges
  h3=t('proposal.ranges.how-much-interest')
  .bar
  .ranges-container
    - if (previous)
      a.btn.btn-link(href='/law/#{previous.id}').previous='<'
    - if (next)
      a.btn.btn-link(href='/law/#{next.id}').skip='>'