size = 32px
.range
  color #333
  display inline-block
  text-align center
  z-index 20
  position relative
  &:hover
    color #333
  .button
    border-radius 100px
    height size
    margin 0 auto
    width size
    &.red
      background #c0392b
    &.orange
      background #e67e22
    &.yellow
      background #f1c40f
    &.green
      background #27ae60